#map-container {
    width: 100%;
    
    height: 100vh;
    position: absolute;
    background-image: url('https://mediaim.expedia.com/destination/1/0ecc8f40cf6a0135708aa4743d5ff8e4.jpg');     
    background-size: cover;
    
    background-repeat: round;  
}

#azerbaijan-map {
    
  width: 100%; /*  auto */
    
  height: 100vh; /*  auto */

 
}

.state {
  fill: rgba(0, 239, 255, 0.17);
  stroke: rgba(234, 255, 0, 0.31);
  stroke-width: 1;
  cursor: pointer;
}

.state:hover {
  fill: #caff70;
}

#info-box {
  position: absolute;
  background-color: transparent;
  border: transparent;;
  padding: 50px;
  display: none;
  width: 200px; /*  */
    
  height: 400px; /*  */

}

