body {
  width: 100vw;
  height: 100vh;
  
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/db/Baku_city_at_night.jpg");
}

#map-container {
    width: auto;
    height: auto;
    position: relative;
}

#map-container svg {
    width: 100%;
    height: 100vh;
}

.region {
    fill: #0fe2f5;
    stroke: black;
    stroke-width: 0.5;
}

.region:hover {
    fill: #74f70f;
    cursor: pointer;
}

#info-box {
    position: absolute;
    background-color: #51f5f2;
    border: 1px solid #0a0a0a;
    padding: 10px;
    display: none;
}

.container {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    margin: 10px 0;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.7em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.1em; }

@media (max-width: 1024px) {
    h1 { font-size: 2.5em; }
    h2 { font-size: 2em; }
    h3 { font-size: 1.7em; }
    h4 { font-size: 1.4em; }
    h5 { font-size: 1.2em; }
    h6 { font-size: 1em; }
}

@media (max-width: 767px) {
    h1 { font-size: 2em; }
    h2 { font-size: 1.7em; }
    h3 { font-size: 1.4em; }
    h4 { font-size: 1.2em; }
    h5 { font-size: 1em; }
    h6 { font-size: 0.9em; }
}

#region-list {
    width: 50%;
    height: auto;
      color: #fff;
    padding: 10px;
    border: 3px solid #fff;
    margin-left: 20px;
}

#regions-ul {
    list-style: none;
    padding: 0;
}

#regions-ul li {
    padding: 5px;
    cursor: pointer;
}

#regions-ul li.highlight {
    background-color: #0fe2f5;
}

@media (max-width: 100px) {
    #region-list {
        width: 30%;
    }
}

@media (max-width: 100px) {
    #region-list {
        width: 100%;
        margin-left: 0;
    }
    #map-container {
        width: 100%;
    }
}

/* Стили для nanoScrollerJS */
.nano {
    position: relative;
    width: 100%;
    height: 400px; /* Задайте нужную высоту */
    overflow: hidden;
}

.nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nano > .nano-content:focus {
    outline: none;
}

.nano > .nano-content::-webkit-scrollbar {
    display: none;
}

.nano > .nano-pane {
    background: #f8f8f8;
    position: absolute;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9; /* Target only IE7 and IE8 with this property */
    opacity: .01;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nano > .nano-pane > .nano-slider {
    background: #68a0ff;
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    visibility: visible\9; /* Target only IE7 and IE8 with this property */
    opacity: 0.99;
}